@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');


/*defining color variables*/
:root{
  --container-bg-color: #4162EF;
  --texts-color: #fff;
  --secondary-color: #EFCE41;
  --checkbox-border-color: #ccc;
  --button-shadow-color: #E9C114;
 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body{
  font-family: 'Ysabeau Infant', sans-serif;
  padding: 10px;
}


.container{
  background-color: var(--container-bg-color);
  padding: 20px;
  border-radius: 3px;
  
}

h1{
  margin-bottom: 40px;
  color: var(--texts-color);
}

.heading{
  border-bottom: 5px solid var(--secondary-color)
}

/*styling the inputs : text and number*/
.inputs-container{
  margin-bottom: 20px;
  position: relative;
}

input[type="number"]{
  width: 30%;
}

input[type="text"]{
  width: 90%;
}

.inputs-container input{
  padding: 13px;
  border: none;
  outline: none;
  margin-bottom: 8px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1em
}


/*creating custom checkbox*/
label{
  display: inline-flex;
  color: var(--texts-color);
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
}

input[type="checkbox"]{
  display: none;
}

.checkbox-box{
  width: 20px;
  height: 20px;
  border: 1.2px solid var(--checkbox-border-color);
  border-radius: 4px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s
}

.checkbox-box::after{
  content: "\2714";
  color: var(--container-bg-color);
  transform: scale(0);
  transition: transform 0.3s;
}

input[type="checkbox"]:checked +.checkbox-box{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

input[type="checkbox"]:checked +.checkbox-box:after{
  transform: scale(1)
}


.buttons-container{
  margin-top: 30px;
}

button{
  padding: 13px;
  border: none;
  border-radius: 3px;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 1em;
  box-shadow: 0 2px 2px var(--button-shadow-color)
}

button:active{
  filter: brightness(80%);
}

.info-box{
  color: var(--texts-color);
  margin-bottom: 20px
}

.fa-copy{
  position: absolute;
  bottom: 23px;
  right: 50px;
  color: gray;
}


.fa-copy:active{
  transform: scale(0.85)
}